/* General */

body {
  margin-left: 10vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #dfdfdf;
}

.color-text {
  font-weight: bold;
  color: #700453;
  text-shadow: -4px 4px 0px #4d073a, -7px 7px 0px #38152f;
}

.color-text-small {
  color: #700453;
  text-shadow: -2px 2px 0px #4d073a, -4px 4px 0px #38152f;
}

.block {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

h1 {
  font-size: 48px;
  line-height: 48px;

  @media (max-width: 481px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 42px;
}

h3,
p {
  font-size: 20px;
}

p {
  line-height: 28px;
  margin-right: 20vw;

  @media (max-width: 481px) {
    margin-right: 5vw;
    font-size: 16px;
  }
}

/* Home */

#hello {
  font-size: 112px;
  margin-top: 45vh;
}

#about-me {
  width: 50vw;

  @media (max-width: 481px) {
    margin-right: 90vw;
  }
}

/* Projects */

.one-project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2vh;
}

.one-project a:link {
  color: black;
}

.one-project a:visited {
  color: black;
}

.one-project a:active {
  color: #da3e52;
}

/* Profile */

#profile {
  margin-bottom: 25vh;
}

#contact {
  margin-top: 15vh;
}

#contact a:link {
  color: black;
}

#contact a:visited {
  color: black;
}

#contact a:active {
  color: #96e6b3;
}

/* Footer */

footer {
  font-size: 12px;
  text-align: center;
  position: sticky;
}
